@media screen and (max-width: 447.98px) {
    .contacts-list .list-item:last-child .link {
        font-size: calc(25px + (22 * 0.7) * ((100vw - 320px) / 448));
    }

    .modal {
        width: 91.58888%;
    }
}

@media screen and (min-width: 448px) and (max-width: 767.98px) {
  .container {
    max-width: 428px;
  }

  .contacts-list .list-item:last-child .link {
    font-size: 36px;
  }

  .modal {
    width: 392px;
  }
}

@media screen and (max-width: 767.98px) {
  .top-wrapper .box {
    align-items: center;
    justify-content: space-between;
  }

  .header .top-wrapper .box > .logo {
    padding: 24px 0;
  }

  .burger-menu {
    width: 32px;
    height: 22px;
    background-color: transparent;
    border: none;
  }

  .burger-menu .icon {
    stroke: var(--bg-color-dark);
  }

  .header .wrapper {
    position: fixed;
    top: 0;
    z-index: 20;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-white);
    overflow: auto;
  }

  .header .wrapper .box {
    position: relative;
    padding-top: 80px;
    height: 100%;
    padding: 80px 40px 40px;
  }

  .header .wrapper .close-menu {
    position: absolute;
    top: 40px;
    right: 40px;
  }

  .header .wrapper .inner {
    flex-direction: column;
    height: 100%;
  }

  .header .inner .logo {
    display: none;
  }

  .menu-list {
    flex-direction: column;
  }

  .menu-list .link {
    font-size: 36px;
  }

  .menu-list .link, .contacts-list .list-item:last-child .link {
    font-weight: 700;
    line-height: 1.11;
  }

  .contacts-list {
    flex-direction: column-reverse;
    gap: 40px;
    margin-top: auto;
  }

  .contacts-list,
  .header .navigation {
    margin-bottom: 48px;
  }

  .contacts-list .list-item:first-child .link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }

  .contacts-list .link {
    display: inline;
  }

  .contacts-list .link:hover,
  .contacts-list .link:focus {
    color: var(--btn-color);
  }

  .header .soc-list {
    padding-right: 20px;
    justify-content: space-between;
  }

  .solutions .container {
    padding: 0;
  }

  .modal {
    padding: 72px 16px 24px;
  }

  .is-hidden-menu {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
  .no-scroll {
    overflow: hidden;
  }
}
