:root {
  --bg-color-dark: #2e2f42;
  --bg-color-light: #f4f4fd;
  --text-color: #434455;
  --second-title-color: #2e2f42;
  --nav-link-color: #2e2f42;
  --btn-color: #4d5ae5;
  --btn-active: #404bbf;
  --link-color-blue: #404bbf;
  --part-logo-color: #4d5ae5;
  --color-white: #fff;
  --icon-bg: #4d5ae5;
  --icon-wrapper-color: #f4f4fd;
  --customers-link-color: #8E8F99;
  --portfolio-border-color: #f4f4fd;
  --portfolio-text-color: #f4f4fd;
  --bg-overlay: #4d5ae5;
  --footer-logo-color: #f4f4fd;
  --footer-text-color: #e7e9fc;
  --footer-bg-icons: rgba(255, 255, 255, 0.1);
  --border-color: #e7e9fc;
  --hover-soc-link: #31D0AA;
  --bg-gradient: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7));
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --backdrop-bg-color: rgba(46, 47, 66, 0.4);
  --modal-bg-color: #FCFCFC;
  --modal-btn-bg: #E7E9FC;
  --check-link-color: #4D5AE5;
  --checkbox-icon-color: #f4f4fd;
  --check-text-color: #757575;
  --comment-placeholder-color: rgba(117, 117, 117, 0.5);
  --input-border-color: rgba(33, 33, 33, 0.2);
  --input-border-active: #4D5AE5;
  --label-color: #8E8F99;
  --input-placeholder-color: rgba(255, 255, 255, 0.6);
  --subscribe-input-border-color: rgba(255, 255, 255, 0.3);
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

ul {
  padding-left: 0;
}

input, button {
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--second-title-color);
  font-size: 16px;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  display: block;
}

.btn {
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}

.header {
  border-bottom: 1px solid var(--border-color);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  height: 76px;
}

.box,
.navigation,
.list {
  display: flex;
}

.navigation {
  align-items: center;
  margin-right: auto;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--nav-link-color);
  text-decoration: none;
}

.navigation .logo {
  margin-right: 76px;
}

.part-logo {
  color: var(--part-logo-color);
}

.header .logo,
.header .link {
  padding: 24px 0 28px;
}

.menu-list,
.contacts-list {
  gap: 40px;
}

.menu-list .link {
  position: relative;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--nav-link-color);
  transition: color var(--transition);
}

.menu-list .active::after {
  content: '';
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background: var(--link-color-blue);
  border-radius: 2px;
}

.contacts-list .link {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  transition: color var(--transition);
}

.menu-list .link:hover,
.menu-list .link:focus,
.contacts-list .link:hover,
.contacts-list .link:focus,
.link.active {
  color: var(--link-color-blue);
}

.solutions {
  background: var(--bg-gradient), url(../images/solutions-bg-img.jpg) center;
  background-size: cover;
  text-align: center;
  padding: 188px 0;
  max-width: 1440px;
  margin: 0 auto;
}

.solutions .title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--color-white);
  margin: 0 auto 48px;
  width: 495.05px;
}

.solutions .btn {
  border: none;
  background: var(--btn-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-white);
  padding: 16px 32px;
  transition: background-color var(--transition);
}

.solutions .btn:hover,
.solutions .btn:focus, 
.modal .form .btn:hover,
.modal .form .btn:focus,
.footer .subscribe .btn:hover,
.footer .subscribe .btn:focus {
  background: var(--btn-active);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages {
  padding-top: 120px;
}

.advantages .list-item {
  flex-basis: calc(25% - 18px);
}

.advantages .list,
.projects .list,
.team .list,
.costumers .list,
.portfolio .btns-list {
  gap: 24px;
}

.advantages .wrapper-icon {
  background: var(--icon-wrapper-color);
  border-radius: 4px;
  margin-bottom: 8px;
  padding: 24px 0;
  text-align: center;
}

.advantages .list .title {
  margin-bottom: 8px;
}

.advantages .list .title,
.team .list .title,
.portfolio-list .title, .modal .title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.projects {
  padding: 120px 0;
}

.projects .title,
.team .title, .costumers .title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team {
  background: var(--bg-color-light);
  padding: 120px 0;
}

.team .list-item {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team .caption {
  background: var(--color-white);
  padding: 32px 0;
  text-align: center;
}

.team .icons-list {
  justify-content: center;
}

.team .icons-list .list-item {
  box-shadow: none;
}

.team .caption .link {
  background: var(--icon-bg);
  border-radius: 50%;
  padding: 12px;
  transition: background-color var(--transition);
}

.team .caption .link:hover, .team .caption .link:focus {
  background: var(--link-color-blue);
}

.team .caption .icon, .footer .social-media .icon {
  display: inherit;
}

.team .list .title {
  margin-bottom: 8px;
}

.team .list .text {
  margin-bottom: 8px;
}

.costumers {
  padding: 130px 0 120px;
}

.costumers .list-item {
  flex-basis: calc(16.66667% - 20px);
}

.costumers .link {
  text-align: center;
  padding: 16px 0;
  border: 1px solid var(--customers-link-color);
  border-radius: 4px;
  transition: border-color var(--transition);
}

.costumers .icon {
  fill: var(--customers-link-color);
  transition: fill var(--transition);
}

.costumers .link:hover,
.costumers .link:focus {
  border-color: var(--link-color-blue);
}

.costumers .link:hover .icon, .costumers .link:focus .icon {
  fill: var(--link-color-blue);
}

.portfolio {
  padding: 96px 0 120px;
}

.portfolio .btns-list {
  justify-content: center;
  margin-bottom: 72px;
}

.portfolio .btn {
  background: var(--bg-color-light);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--btn-color);
  padding: 12px 24px;
  transition: border-color var(--transition), background-color var(--transition), box-shadow var(--transition), color var(--transition);
}

.portfolio .btn:hover,
.portfolio .btn:focus {
  border-color: var(--btn-active);
  background: var(--btn-active);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--color-white);
}

.portfolio .portfolio-list {
  flex-wrap: wrap;
  justify-content: center;
  gap: 48px 24px;
}

.portfolio .link {
  color: inherit;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
  transition: box-shadow var(--transition);
}

.portfolio .link:hover,
.portfolio .link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio .image-area {
  position: relative;
  overflow: hidden;
}

.portfolio .image-area .text {
  position: absolute;
  top: 0;
  padding: 40px 32px 0;
  color: var(--portfolio-text-color);
  background: var(--bg-overlay);
  height: 100%;
  transform: translateY(100%);
  overflow: auto;
  transition: transform var(--transition);
}

.portfolio .link:hover .image-area .text,
.portfolio .link:focus .image-area .text {
  transform: translateY(0);
}

.portfolio .portfolio-list .title {
  margin-bottom: 8px;
}

.portfolio .caption {
  padding: 32px 0 32px 16px;
  border: 1px solid var(--border-color);
  border-top: none;
}

.portfolio .link:hover .caption, .portfolio .link:focus .caption {
  padding-left: 16.2px;
  border: 0.5px solid var(--portfolio-border-color);
  border-top: none;
}

.footer {
  background: var(--bg-color-dark);
  padding: 100px 0;
}

.footer .content {
  width: 264px;
  margin-right: 120px;
}

.footer .logo {
  display: block;
  width: 115px;
  line-height: 1.17;
  color: var(--footer-logo-color);
  margin-bottom: 16px;
}

.footer .text {
  color: var(--footer-text-color);
}

.footer .title {
  color: var(--color-white);
  font-weight: 500;
  font-size: inherit;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer .social-media {
  margin-right: 80px;
}

.footer .social-media .list {
  gap: 16px;
}

.footer .social-media .link {
  background: var(--footer-bg-icons);
  border-radius: 50%;
  padding: 12px;
  transition: background-color var(--transition);
}

.footer .social-media .link:hover,
.footer .social-media .link:focus {
  background: var(--hover-soc-link);
}

.footer .subscribe .form {
  display: flex;
  gap: 24px;
}

.footer .subscribe .inpt {
  border: 1px solid var(--subscribe-input-border-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: transparent;
  padding: 9.8px 16px;
  color: var(--color-white);
}

.footer .subscribe .inpt::placeholder, .modal .comment::placeholder {
  color: var(--input-placeholder-color);
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}

.footer .subscribe .btn {
  padding: 8px 24px;
  border: none;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-white);
  display: flex;
  align-items: center;
  gap: 16px;
  background: var(--btn-color);
  border-radius: 4px;
  transition: background-color var(--transition);
}

.backdrop {
  position: fixed;
  top: 0;
  background: var(--backdrop-bg-color);
  width: 100%;
  height: 100%;
  transition: opacity var(--transition), visibility var(--transition);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  transition: transform var(--transition);
  width: 408px;
  min-height: 576px;
  background: var(--modal-bg-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 72px 24px 24px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0) rotate(270deg);
}

.modal>.btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: block;
  padding: 7px;
  border-radius: 50%;
  background: var(--modal-btn-bg);
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: fill var(--transition), background-color var(--transition), border-color var(--transition);
}

.modal .btn:hover, .modal .btn:focus  {
  fill: var(--color-white);
  background: var(--btn-active);
  border-color: var(--btn-active);
}

.modal .btn .icon {
  display: block;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal .title {
  line-height: 1.5;
  font-size: 16px;
  text-align: center;
  margin-bottom: 14px;
}

.modal .wrapper {
  position: relative;
  margin-bottom: 8px;
}

.modal .wrapper:nth-child(4) {
  margin-bottom: 16px;
}

.modal .text {
  display: inline-block;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
  color: var(--label-color);
}

.modal .inpt {
  width: 100%;
  height: 40px;
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
  padding: 0 38px;
  background-color: transparent;
  transition: border-color var(--transition);
}

.modal .inpt:focus, .modal .comment:focus, .footer .subscribe .inpt:focus {
  border-color: var(--input-border-active);
}

.modal .wrapper .icon {
  position: absolute;
  left: 16px;
  top: 50%;
  fill: var(--bg-color-dark);
}

.modal .inpt:focus + .icon {
  fill: var(--icon-bg);
}

.modal .comment {
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
  outline: none;
  resize: none;
  background-color: transparent;
  transition: border-color var(--transition);
}

.modal .comment::placeholder {
  color: var(--comment-placeholder-color);
  line-height: 1.33;
}

.modal .wrapper-check {
  margin-bottom: 24px;
}

.modal .check-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: var(--check-text-color);
  display: flex;
  align-items: center;
  gap: 4px;
}

.check:checked + .check-text span {
  background-color: var(--btn-active);
  border-color: var(--btn-active);
  fill: var(--checkbox-icon-color);
}

.modal .check-text span {
  border: 1.25px solid var(--bg-color-dark);
  border-radius: 2px;
  margin-right: 4px;
  padding: 2.75px 1.75px;
  fill: transparent;
}

.modal .check-text .icon {
  display: block;
}

.modal .check-link {
  color: var(--check-link-color);
}

.modal .form .btn {
  width: 169px;
  height: 56px;
  background: var(--btn-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  margin: 0 auto;
  display: block;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-white);
  transition: background-color var(--transition);
}

.link:focus, .btn:focus, .inpt {
  outline: none;
}



